<div class="header">
    <a target="_blank" ng-href="{{ blog.url }}">{{ post.blog_name }}</a> <span class="reblogged-from" ng-show="post.reblogged_from_name"><span class="reblogged-icon">reblogged</span> <a target="_blank" ng-href="{{ post.reblogged_from_url }}">{{ post.reblogged_from_name }}</a></span>
    <div class="source" ng-show="post.source_url">Source: <a target="_blank" ng-href="{{ post.source_url }}">{{ post.source_title }}</a></div>
    <div class="timestamp">
        <a ng-href="/{{ blogName }}/{{ post.id }}">{{ post.timestamp*1000 | date:'yyyy-MM-dd hh:mma' | lowercase }}</a>
    </div>
</div>

<div class="content">
    <div ng-include="'/views/posts/types/' + post.type + '.html'"></div>
</div>

<div class="footer">
    <a class="notes" target="_blank" ng-href="{{ post.post_url }}#notes"><ng-pluralize count="post.note_count" when="{'0': '', 'one': '1 note', 'other': '{{post.note_count|number}} notes'}"></ng-pluralize></a>

    <div class="controls">
        <a class="reblog" target="_blank" ng-href="http://tumblr.com/reblog/{{ post.id }}/{{ post.reblog_key }}?redirect_to=%2Fdashboard">reblog</a>
    </div>
</div>
