/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 19px;
    background-color: #2c4762;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.page-wrap {
    margin: 0 auto;
    max-width: 725px;
}

.page-wrap > div > header {
    margin: 1em 0;
}

.page-wrap > div > header .avatar {
    vertical-align: middle;
    margin-right: 0.25em;
}

.page-wrap > div > header .description {
    opacity: 0.6;
    border-top: 1px solid;
}

.page-wrap > div > header .description a {
    color: inherit;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts > li {
    position: relative;
    background: #fff;
    color: #444;
    font-size: 14px;
    background: #fff;
    padding: 15px 0 15px 0;
    word-wrap: break-word;
    border-radius: 6px;
    margin: 0 0 20px 0;
}

.posts > li .header,
.posts > li .tags,
.posts > li .footer {
    padding: 0 20px;
    padding-top: 20px;
    font-size: 13px;
}

.posts > li .header {
    padding-top: 0;
    font-weight: bold;
}

.posts > li .footer {
    padding-bottom: 20px;
}

.posts > li .header a,
.posts > li .tags   a,
.posts > li .footer a {
    text-decoration: none;
    color: #a7a7a7;
}

.posts > li .header .reblogged-icon,
.posts > li .controls .reblog {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: -397px -93px url('https://secure.assets.tumblr.com/images/dashboard_master_sprite.png?4b36f09873416562a93f7bc432d1ff0a') no-repeat;
    opacity: 0.31;
    vertical-align: -5px;
    margin: 0 2px;
}

.posts > li .header .timestamp {
    font-weight: normal;
}

.posts > li .header .reblogged-icon {
    height: 20px;
    width: 20px;
}

.posts > li .controls .reblog {
    height: 24px;
    width: 24px;
    background-position: -499px -268px;
}

.posts > li .footer .notes {
    float: left;
}

.posts > li .footer .controls {
    float: right;
}

.posts > li .footer a {
    font-weight: bold;
    margin-right: 2px;
}

.posts > li .header a:hover,
.posts > li .tags   a:hover,
.posts > li .footer a:hover,
.posts > li .header a:focus,
.posts > li .tags   a:focus,
.posts > li .footer a:focus {
    color: #969696;
}

.posts > li .header .source {
    float: right;
    color: #a7a7a7;
    font-weight: normal;
}

.posts > li .content {
    padding: 20px;
    padding-bottom: 0;
}

.posts > li .content a {
    color: #444;
}

.posts > li .tags a {
    margin-right: 1em;
    text-decoration: none;
}

.posts > li:hover .permalink,
.posts > li:focus .permalink {
    display: block;
}

.posts > li .permalink {
    display: none;
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: #cecfd1;
    border-bottom-left-radius: 6px;
}

.posts > li .permalink:before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    border-right: 16px solid #2C4762;
    border-left: 16px solid rgba(0, 0, 0, 0);
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    -moz-transform: scale(.9999);
}

.posts > li blockquote {
    margin: 10px 0 10px 10px;
    padding-left: 15px;
    border-left: solid 4px #dcdcdc;
    border-left: solid 4px rgba(0, 0, 0, 0.12);
}

.posts > li img {
    max-width: 100%;
}

.posts > li.quote-post .text {
    text-rendering: optimizeLegibility;
    font-family: georgia,serif;
    font-weight: normal;
    color: #343434;
    margin-bottom: 10px;
}

.posts > li.quote-post .text.small {
    font-size: 16px;
    line-height: 21px;
}

.posts > li.quote-post .text.medium {
    font-size: 24px;
    line-height: 29px;
}

.posts > li.quote-post .text.large {
    font-size: 36px;
    line-height: 42px;
}

.posts > li.quote-post .text.extra-large {
    font-size: 48px;
    line-height: 54px;
}

.posts > li.quote-post .source {
    margin-top: 1em;
}

.posts > li.quote-post .source .separator {
    margin-right: 5px;
}

.posts > li.quote-post .text p:first-child,
.posts > li.quote-post .text p:last-child {
    display: inline;
}

.posts > li.chat-post .line {
    font: normal 14px/1.4 Courier,monospace;
    padding: 6px 0;
}

.posts > li.chat-post .line:nth-child(even) {
    background: #fdfdfd;
}

.posts > li.chat-post .line:first-child {
    padding-top: 0;
}

.posts > li.chat-post .line:last-child {
    padding-bottom: 0;
}

.posts > li.chat-post .line .label {
    font-weight: bold;
}

.posts > li .photos img {
    width: 100%;
}

.posts > li iframe {
    width: 100%;
}
